[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[packages]
fastapi = "0.60.1"
uvicorn = "*"
requests = "*"
tortoise-orm = "*"
pytest = "*"
pytest-cov = "*"
jwt = "*"
python-multipart = "*"
pyjwt = "*"
httpx = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
asyncpg = "*"
email-validator = "*"


[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
